apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ include "kener.fullname" . }}-database
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: {{ .Values.storage.size }}
  storageClassName: {{ .Values.storage.class }}
